<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book list</title>
</head>
<body>
    <!-- TODO: MOSTRAR TODOS LOS LIBROS -->
<table>
    <thead>
        <tr>
            <th> ISBN </th>
            <th> Title </th>
        </tr>
    </thead>
    <tbody>
        {{#books}}
            <tr>
                <td>
                    {{ISBN}}
                </td>
                <td>
                    {{title}}
                </td>
            </tr>
        {{/books}}
    </tbody>
</table>
</body>
</html>