<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book list</title>
</head>
<body>
<!-- TODO: MOSTRAR TODOS LOS LIBROS -->
<table>
    <thead>
    <tr>
        <th> ISBN </th>
        <th> Title </th>
    </tr>
    </thead>
    <tbody id="book-list-container">

    </tbody>
</table>
<script>
    const form = document.querySelector("#save-book-form");
    const container = document.querySelector("#book-list-container")

    const fetchBooks = async () => {
        const response = await fetch("/api/library/all")
        return await response.json();
    }

    const createBookElement = (info) => {
        const holder = document.createElement("tr");
        holder.dataset.id = info.isbn;
        holder.innerHTML=`
            <td>${info.isbn}</td>
            <td>${info.title}</td>
        `;
    }

    const renderTable = async () => {
        const books = await fetchBooks() || [];

        container.innerHTML="";

    }
    const Main = async () => {
        const books = await  fetchBooks();
        console.table(books);
    }
</script>
</body>
</html>